<header th:fragment="myheader">
    <nav class="nav navbar navbar-expand-sm navbar-toggleable-sm d-inline-flex navbar-light box-shadow mb-3">
        <div class="myconteiner">
            <a href="/" class="navbar-brand" style="color: #171515; margin-right: unset">MedKivTop</a>
        </div>
    </nav>
</header>
<header th:fragment="myheader2">
    <nav class="nav navbar navbar-expand-sm navbar-toggleable-sm d-inline-flex navbar-light box-shadow mb-3">
        <div class="myconteiner">
            <a href="/home" class="navbar-brand" style="color: #171515; margin-right: unset">MedKivTop</a>
        </div>
    </nav>
</header>