<header th:fragment="myheader">
    <nav class="nav navbar navbar-expand-sm navbar-toggleable-sm d-inline-flex navbar-light box-shadow mb-3">
        <div class="myconteiner">
            <a href="/" class="navbar-brand" style="color: #171515;">MedKivTop</a>
        </div>
    </nav>
<!--    <nav class="nav navbar navbar-expand-sm navbar-toggleable-sm d-inline-flex navbar-light box-shadow mb-3" style="margin-left: 15px">-->
<!--        <div class="myconteiner">-->
<!--            <a href="/windows" class="navbar-brand" style="color: #171515; margin-right: unset">Windows</a>-->
<!--        </div>-->
<!--    </nav>-->
</header>